# 📘 Taller de Bases de Datos con SQLite y Python
Este notebook es una **clase práctica** para aprender conceptos básicos de bases de datos, SQL y su integración con Python.

### Objetivos del Taller
- Crear y manipular bases de datos con SQL (usando SQLite).
- Realizar consultas básicas: SELECT, INSERT, UPDATE, DELETE.
- Conectar SQLite con Python.
- Hacer análisis básico de datos en Python.
- Preparar un mini-proyecto con base de datos.

## 🔹 1. Importar Librerías

In [ ]:

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

## 🔹 2. Crear Base de Datos y Tablas

In [ ]:

# Crear conexión a la base de datos SQLite
conn = sqlite3.connect("escuela.db")
cursor = conn.cursor()

# Crear tabla estudiantes
cursor.execute("""
CREATE TABLE IF NOT EXISTS estudiantes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    edad INTEGER,
    carrera TEXT
)
""")
conn.commit()
print("Tabla 'estudiantes' creada con éxito.")

## 🔹 3. Insertar Datos

In [ ]:

# Insertar algunos estudiantes
cursor.execute("INSERT INTO estudiantes (nombre, edad, carrera) VALUES ('Ana', 22, 'Ingeniería');")
cursor.execute("INSERT INTO estudiantes (nombre, edad, carrera) VALUES ('Luis', 20, 'Matemáticas');")
cursor.execute("INSERT INTO estudiantes (nombre, edad, carrera) VALUES ('María', 21, 'Física');")
conn.commit()
print("Datos insertados en la tabla estudiantes.")

## 🔹 4. Consultar Datos con SQL

In [ ]:

# Consulta básica
df = pd.read_sql("SELECT * FROM estudiantes", conn)
df

## 🔹 5. Actualizar y Eliminar Registros

In [ ]:

# Actualizar
cursor.execute("UPDATE estudiantes SET edad = 23 WHERE nombre = 'Ana';")
conn.commit()

# Eliminar
cursor.execute("DELETE FROM estudiantes WHERE nombre = 'Luis';")
conn.commit()

# Ver cambios
df = pd.read_sql("SELECT * FROM estudiantes", conn)
df

## 🔹 6. Análisis de Datos con Pandas

In [ ]:

print("Resumen estadístico:")
print(df.describe())

print("\nCantidad de estudiantes por carrera:")
print(df['carrera'].value_counts())

## 🔹 7. Visualización de Datos

In [ ]:

df['carrera'].value_counts().plot(kind='bar', color='skyblue')
plt.title("Número de estudiantes por carrera")
plt.xlabel("Carrera")
plt.ylabel("Cantidad")
plt.show()

## 🔹 8. Mini Proyecto
### Pregunta: ¿Cuál es la carrera con más estudiantes jóvenes en la base?
**Actividad:**
- Crea otra tabla `cursos` con cursos asignados a estudiantes.
- Inserta datos de ejemplo.
- Realiza consultas con `JOIN` para relacionar estudiantes y cursos.
- Integra resultados en Python y genera una visualización.

***Talento*** Tech

William Burbano Lima