# 游닂 Taller de Bases de Datos con SQLite y Python
Este notebook es una **clase pr치ctica** para aprender conceptos b치sicos de bases de datos, SQL y su integraci칩n con Python.

### Objetivos del Taller
- Crear y manipular bases de datos con SQL (usando SQLite).
- Realizar consultas b치sicas: SELECT, INSERT, UPDATE, DELETE.
- Conectar SQLite con Python.
- Hacer an치lisis b치sico de datos en Python.
- Preparar un mini-proyecto con base de datos.

## 游댳 1. Importar Librer칤as

In [ ]:

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

## 游댳 2. Crear Base de Datos y Tablas

In [ ]:

# Crear conexi칩n a la base de datos SQLite
conn = sqlite3.connect("escuela.db")
cursor = conn.cursor()

# Crear tabla estudiantes
cursor.execute("""
CREATE TABLE IF NOT EXISTS estudiantes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT,
    edad INTEGER,
    carrera TEXT
)
""")
conn.commit()
print("Tabla 'estudiantes' creada con 칠xito.")

## 游댳 3. Insertar Datos

In [ ]:

# Insertar algunos estudiantes
cursor.execute("INSERT INTO estudiantes (nombre, edad, carrera) VALUES ('Ana', 22, 'Ingenier칤a');")
cursor.execute("INSERT INTO estudiantes (nombre, edad, carrera) VALUES ('Luis', 20, 'Matem치ticas');")
cursor.execute("INSERT INTO estudiantes (nombre, edad, carrera) VALUES ('Mar칤a', 21, 'F칤sica');")
conn.commit()
print("Datos insertados en la tabla estudiantes.")

## 游댳 4. Consultar Datos con SQL

In [ ]:

# Consulta b치sica
df = pd.read_sql("SELECT * FROM estudiantes", conn)
df

## 游댳 5. Actualizar y Eliminar Registros

In [ ]:

# Actualizar
cursor.execute("UPDATE estudiantes SET edad = 23 WHERE nombre = 'Ana';")
conn.commit()

# Eliminar
cursor.execute("DELETE FROM estudiantes WHERE nombre = 'Luis';")
conn.commit()

# Ver cambios
df = pd.read_sql("SELECT * FROM estudiantes", conn)
df

## 游댳 6. An치lisis de Datos con Pandas

In [ ]:

print("Resumen estad칤stico:")
print(df.describe())

print("\nCantidad de estudiantes por carrera:")
print(df['carrera'].value_counts())

## 游댳 7. Visualizaci칩n de Datos

In [ ]:

df['carrera'].value_counts().plot(kind='bar', color='skyblue')
plt.title("N칰mero de estudiantes por carrera")
plt.xlabel("Carrera")
plt.ylabel("Cantidad")
plt.show()

## 游댳 8. Mini Proyecto
### Pregunta: 쮺u치l es la carrera con m치s estudiantes j칩venes en la base?
**Actividad:**
- Crea otra tabla `cursos` con cursos asignados a estudiantes.
- Inserta datos de ejemplo.
- Realiza consultas con `JOIN` para relacionar estudiantes y cursos.
- Integra resultados en Python y genera una visualizaci칩n.

***Talento*** Tech

William Burbano Lima